@media (max-width: 1600px){
    .coming-soon .box .count-down{
        margin-bottom: 30px;
    }
    .coming-soon .box h5{
        padding-bottom: 50px;
    }
    .coming-soon .box > p{
        padding-bottom: 40px;
    }
    .coming-soon{
        padding: 0 15px;
        align-items: center;
    }
}

@media (max-width: 1360px){
    .coming-soon{
        height: auto;
        padding: 75px 15px;
    }
}
@media (max-width: 1290px){
    .header-v1 .header .main-menu .menu-primary{
        padding-left: 10px;
    }
    .header-v1 .header .main-menu .menu-primary > li{
        padding: 0 15px;
    }
}
@media (max-width: 1219px){
    .events-detail .entry-title h1{
        font-size: 38px;
        line-height: 45px;
        margin-bottom: 35px;
    }
    .educatito-events .box .uk-switcher li article .entry-border .content-post{
        width: 56.3%;
        padding: 20px;
    }
    .educatito-events .box .uk-switcher li article .entry-border .content-post .flat-content{
        padding-right: 0;
    }
    .creative-product.template2 .product-item-wrap .product-item .box-content .product-price{
        right: 11px;
    }
    .creative-product.template2 .product-item-wrap .product-item .box-content .box-icon{
        right: -15px;
    }
    .maintenance{
        padding: 0 100px 50px 100px;
    }
    .portfolio-detail .portfolio-detail-content .box-detail-content{
        padding: 30px 20px
    }
    .educatito-sidebar .sidebar-services .educatito-flex-box{
        float: none !important;
        margin-left: auto;
        margin-right: auto;
    }
    .educatito-sidebar .sidebar-recent-project ul{
        padding: 20px;
    }
    .educatito-sidebar .sidebar-recent-project h3{
        padding: 0 20px;
    }
    .educatito-sidebar .sidebar-about-educa{
        padding: 20px;
    }
    .clients-say-v2 .clients-say-slick-v2 li .box .box-content p{
        padding: 0;
    }
    .our-skills .box{
        padding-right: 25px;
    }
    .we-change-the-world .educatito-flex-box .box .box-button{
        margin-top: 0;
        a{
            float: none;
            margin-right: 0;
            &:first-child{
                margin-bottom: 15px;
            }
        }
    }
    .we-change-the-world .educatito-flex-box{
        padding: 0 15px;
    }
    .recent-projects.set-padding{
        padding-top: 105px;
    }
    .see-our-work .box .box-title h3{
        padding-bottom: 11px;
    }
    .see-our-work .videos{
        margin-bottom: 0;
    }
    .see-our-work.set-padding{
        padding-bottom: 105px;
    }
    .slider-home-three .banner-caption-form .box{
        padding: 25px 50px;
    }
    .footer-v2 .footer .box .box-content .box-content-p p{
        padding: 0 100px 25px 100px
    }
    .we-make-beauty .box .educatito-button{
        margin-right: 0;
    }
    .testimonial ul li .box h3{
        padding: 0 0 19px 0;
    }
    .we-are-educa .box .box-content{
        padding-right: 0;
    }
    .header-v1 .header .main-menu .menu-primary>li.menu_full_width>ul.multicolumn.columns2 ul li .box-course-info, .header-v2 .header .main-menu .menu-primary>li.menu_full_width>ul.multicolumn.columns2 ul li .box-course-info, .header-v3 .header .main-menu .menu-primary>li.menu_full_width>ul.multicolumn.columns2 ul li .box-course-info{
        display: block;
    }
    .header-v1 .header .main-menu .menu-primary>li.menu_full_width>ul.multicolumn.columns2 ul li .box-course-info .course-price .value, .header-v2 .header .main-menu .menu-primary>li.menu_full_width>ul.multicolumn.columns2 ul li .box-course-info .course-price .value, .header-v3 .header .main-menu .menu-primary>li.menu_full_width>ul.multicolumn.columns2 ul li .box-course-info .course-price .value{
        display: inline-block;
    }
}
@media (max-width:1095px){
    .login-register .button-login{
        padding: 0 !important;
        background: transparent;
        color:#222;
        margin-right: 0;
        &:hover{
            background: transparent;
        }
    }
}
@media (max-width:1140px){
    .header-v1 .header .main-menu .menu-primary > li{
        padding: 0 13px;
    }
}
@media (max-width:1050px){
    .header-v1 .header .main-menu .menu-primary{
        padding-left: 0;
    }
    .header-v1 .header .main-menu .menu-primary > li{
        padding: 0 12px;
    }
}
@media (max-width: 991px){
    .login-register .button-header{
        display: none;
    }
    .page-title-bar{
        margin-bottom: 60px !important;
    }
    .educatito-spacing,
    .educatito_layout_content {
        margin-bottom: 60px;
    }
    .product-detail .box-detail .box-detail-content .box-qty{
        margin-bottom: 30px;
    }
    .educatito-banner .title ul li{
        padding: 0 13px;
        &:before{
            right: -3px;
        }
    }
    .educatito-banner .title{
        text-align: center;
    }
    .educatito-banner{
        padding: 50px 0;
    }
    .slider-home-three .banner-caption-form .box{
        padding: 25px !important;
    }
    .the-educa .the-educatito-content{
        margin: 0 15px;
        .educatito-flex-box{
            align-items: center;
            justify-content: center;
            .box-content{
                text-align: center;
                padding: 0;
                h1{
                    font-size: 70px;
                    line-height: 70px;
                }
                h3, h5{
                    font-size: 25px;
                    line-height: 30px;
                }
            }
        }
    }
    .build-the-dreams .set-width-10-10{
        width: 100%;
    }
    .set-padding{
        padding: 50px 0;
    }
    .slider-home-one .banner-caption-p{
        text-align: center;
    }
    .header-v1 .header .search{
        > a{
            padding: 0 15px;
            display: inline;
            border-right: 1px solid #c5cccc;
            &.cart{
                display: inline;
            }
        }
    }
    .toggle-icon{
        display: inline-block;
    }
    .menu-primary{
        display: none !important;
    }
    .hidden-mobile{
        display: none;
    }
    .login-register{
        margin-left: 15px;
        margin-right: 15px;
        .button-login{
            margin-top: 0;
            &:after{
                display: none;
            }
        }
    }
    .course-detail .educatito_sidebar{
        max-width: 370px;
        margin-top: 30px;
    }
    .educatito_sidebar{
        margin-top: 60px;
        width: 100%;
    }
    .educatito-content{
        width: 100%;
    }
    .section-text-about{
        &.vc_row{
            padding-bottom: 60px !important;
        }
    }
    .section-text-about .jrb-heading.padding-right-70{
        padding-right: 0;
    }
}
@media(max-width:960px){
    .event-sidebar{
        max-width: 370px;
        margin-top: 60px;
    }
    .woocommerce-checkout .woocommerce .educatito-box:first-child{
        padding-top: 50px;
    }
}
@media(max-width:920px){
    .educatito-events{
        max-width: 750px;
        margin: 0 auto;
    }
    .educatito-events .box .uk-switcher li article .entry-border .feature-post img{
        width: 100%;
    }
    .educatito-events .box .uk-switcher li article .entry-border .feature-post{
        float: none;
    }
    .educatito-events .box .uk-switcher li article .entry-border .content-post{
        width: 100%;
    }
}
@media (max-width: 768px){
    .section-text-about{
        .wpb_column{
            &:first-child{
                .heading-responsive-v2{
                    .uvc-sub-heading{
                        margin-bottom: 30px !important;
                    }
                }
            }
        }

    }
    .section-box-banner{
        .vc_col-sm-4{
            margin-bottom: 30px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .blog-v3 .box .box-left{
        width: 120px;
    }
    .woocommerce-account .woocommerce #customer_login .u-column1{
        width: 100%;
        padding: 0;
        border: 0;
    }
    .woocommerce-account .woocommerce #customer_login .u-column2{
        width: 100%;
        padding: 0;
        margin-top: 30px;
    }
    .woocommerce-account .woocommerce .woocommerce-MyAccount-navigation h2,.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation ul{
        margin: 0
    }
    .woocommerce-account .woocommerce-MyAccount-content{
        margin-top: 30px;
    }
    .we-are-educa .videos .box-img{
        margin-top: 50px;
    }
    .coming-soon .box .count-down li{
        display: block;
        padding: 10px 0;
        span.dot{
            display: none;
        }
    }
    .maintenance{
        padding: 50px 15px;
        height: auto;
    }
    .product-detail .box-review .uk-switcher{
        padding: 25px 10px;
    }
    .product-detail .box-detail .box-detail-content{
        width: 100%;
        padding-left: 0;
    }
    .product-detail .box-detail .box-product-detail{
        width: 100%;
        margin-bottom: 45px;
    }
    .educatito-sidebar .sidebar-search{
        margin-top: 50px;
    }
    .blog-detail .leave-comment{
        margin-bottom: 50px;
    }
    .educatito-pagination ul li{
        margin-bottom: 10px
    }
    .blog-v1 .educatito-pagination{
        margin-bottom: 40px !important;
    }
    .contact .box-get-in-touch{
        margin-bottom: 50px;
        margin-top: 50px;
        padding: 20px;
    }

    .educatito-sidebar .sidebar-services .educatito-flex-box{
        display: inline-flex;
        margin: 0 15px 30px 15px;
    }
    .educatito-sidebar .sidebar-services{
        text-align: center;
    }
    .who-we-are .box-img{
        margin-bottom: 30px;
    }
    .about-the-educa .box .box-content.top-center{
        margin-left: 0;
    }
    .about-the-educa .box .box-content{
        position: static;
        margin-top: 30px;
    }
    .about-the-educa .box .box-img{
        display: block;
        padding-top: 30px;
        flex: 1 1 0px;
        -ms-flex: 1 1 0px;
    }
    .about-the-educa .title p{
        padding: 0;
    }
    .about-the-educa.set-padding{
        padding-bottom: 50px;
    }
    .build-your-dreams .box-img img{
        margin: 0 auto;
    }
    .build-your-dreams .box-img{
        padding: 35px 0;
    }
    .info{
        margin-top: 0;
        padding: 30px 0;
        .box{
            display: block;
            .educatito-flex-box{
                width: 100%;
                margin: 20px 0;
                float: none;
                display: block;
                text-align: center;
                .box-icon{
                    span{
                        padding-right: 0;
                    }
                }
            }
        }
    }
    .shap-border{
        display: none;
    }
    .awesome-video{
        padding: 75px 0;
    }
    .how-we-work .box-step .educatito-flex-box .box-content h3, .step .box-step .educatito-flex-box .box-content h3{
        font-size: 22px;
    }
    .how-we-work .box-step .educatito-flex-box .box-number h3, .step .box-step .educatito-flex-box .box-number h3{
        min-width: 70px;
        font-size: 45px;
        line-height: 40px;
        padding-right: 10px;
    }
    .how-we-work .box-step .educatito-flex-box, .step .box-step .educatito-flex-box{
        margin: 15px 0; 
    }
    .how-we-work .box-step{
        margin-bottom: 50px;
        padding: 40px 15px;
    }
    .see-our-work .box{
        padding-left: 0;
        margin-top: 30px;
    }
    .slider-home-three .banner-caption-form .box form input, .slider-home-three .banner-caption-form .box form textarea{
        font-size: 13px !important;
        line-height: 20px !important;
        margin-bottom: 15px !important;
        padding: 5px 15px !important;
    }
    .slider-home-three .banner-caption-form .box .box-title h3{
        padding-bottom: 20px !important;
        font-size: 16px !important;
        line-height: 20px !important;
    }
    .slider-home-three .banner-caption-form .box form .educatito-button h3{
        font-size: 11px !important;
        line-height: 30px !important;
        padding: 0 10px !important;
    }
    .slider-home-three .banner-caption-form .box form input{
        height: 30px;
    }
    .slider-home-three .banner-caption-form .box form textarea{
        height: 50px;
    }
    .slider-home-three .banner-caption-form .box .box-text{
        display: none;
    }
    .we-make-beauty .box .educatito-button{
        float: none;
        margin-top: 20px;
    }
    .we-make-beauty .box .box-text{
        float: none;
    }
    .we-make-beauty .box{
        text-align: center;
    }
    .the-educa .count-to-number .box, .countto-number .count-to-number .box{
        margin-bottom: 10px;
    }
    .we-are-educa .educatito-videos{
        margin-top: 30px;
    }
    .footer-v1 .footer, .footer-v3 .footer{
        padding: 50px 0 30px 0;
        .box{
            margin-bottom: 20px;
        }
    }
    .latest-post .box{
        margin-bottom: 30px;
    }
    .clients-say ul li .box{
        background: #f8f8f8;
        text-align: center;
        padding: 50px 15px;
        .box-img{
            position: static;
            display: inline-block;
            margin-bottom: 15px;
        }
        .box-content{
            padding: 0;
        }
    }
    .our-works .our-works-slick .our-works-slick-menu ul li{
        margin-bottom: 5px;
        padding: 0 10px;
    }
    .our-works .our-works-slick-img ul li .box .educatito-flex-box{
        align-items: center;
        .box-text-overlay{
            padding-bottom: 0;
            .box-text-overlay-h3 h3{
                font-size: 22px;
            }
            .box-text-overlay-p p{
                padding: 0;
            }
        }
    }
    .build-the-dreams .educatito-flex-box .box-padding .box{
        padding: 30px 15px;
    }
    .educatito-title .educatito-title-h3 h3{
        font-size: 36px;
    }
    .our-services .box{
        margin-bottom: 30px;
    }
    .educatito-video-popup .box-wrap .icon-video-play a{
        height: 50px;
        width: 50px;
        line-height: 64px;
    }
    .educatito-video-popup .box-wrap .icon-video-play a span{
        font-size: 27px !important;
    }
    .woocommerce-cart .col-action-shipping .col-as{
        margin-top: 0;
    }
    .woocommerce-cart .woo-cart-form table{
        margin-bottom: 0;
    }
    .woocommerce-cart .col-action-shipping .col-as .col-title-action{
        padding-top: 0;
    }
    .woocommerce-cart .col-action-shipping .cart-total{
        margin-top: 30px;
    }
}
@media (max-width: 630px){
    .woocommerce-checkout .woocommerce .educatito-box .form-row{
        display: block;
        label{
            width: 100%;
            margin-right: 0;
        }
    }
    .woocommerce-checkout .woocommerce .educatito-box .form-row input{
        width: 100% !important;
        height: 30px;
    }
    .woocommerce-checkout .woocommerce .educatito-box .form-row textarea{
        width: 100% !important;
        height: 98px;
    }
    .woocommerce-checkout .woocommerce .educatito-box .form-row .select2-container{
        width: 100% !important;
    }
    .woocommerce-checkout .woocommerce .educatito-box .form-row#billing_address_2_field{
        padding-left: 0;
    }
}
@media (max-width: 479px){
    .educatito-cart{
        margin-right: 15px;
    }
    .maintenance .box h5{
        letter-spacing: 2px;
    }
    .maintenance .box h3{
        font-size: 33px;
        line-height: 35px;
    }
    .product-detail .box-review .uk-switcher .poduct-reviews li .review h6{
        span{
            display: block;
            &.fa{
                display: inline-block;
            }
        }
        i{
            display: none;
        }
    }
    .product-detail .box-review .uk-subnav li a{
        padding: 0 10px;
        font-size: 12px;
    }
    .product-detail .box-detail .box-product-detail li .box-thumbanil img{
        width: 80%;
    }
    .product-detail .box-detail .box-product-detail li .box-img, .product-detail .box-detail .box-product-detail li .box-thumbanil{
        margin: 0 5px;
    }
    .product-detail .box-detail .box-product-detail .slick-big-images li .box-img{
        height: 200px;
    }
    .blog-detail .comments ul.uk-comment-list li .comment .comment-content .meta .meta-reply{
        float: none;
    }
    .blog-detail .comments ul.uk-comment-list li .comment .comment-content .meta .meta-author{
        float: none;
    }
    .blog-detail .box .tags-share ul li a span{
        padding-right: 5px;
    }
    .blog-detail .comments ul.uk-comment-list .uk-comment + ul{
        padding-left: 80px;
    }
    .blog-detail .comments ul.uk-comment-list li .comment .comment-content p{
        margin-top: 8px;
    }
    .blog-detail .comments ul.uk-comment-list li .comment .comment-content{
        margin-left: 80px;
    }
    .blog-detail .comments ul.uk-comment-list li .comment .comment-img{
        width: 60px;
        height: 60px;
    }
    .blog-detail .box .tags-share .tags, .blog-detail .box .tags-share .share{
        float: none;
    }
    .blog-v1 .box .box-content{
        padding: 23px 15px 32px 15px;
    }
    .blog-v1.post-list .box .box-content{
        padding: 0;
    }
    .our-skills .box-img{
        margin-top: 30px;
    }
    .build-your-dreams .educatito-flex-box .box-padding .box .box-text .box-text-content-p p{
        font-size: 13px;
    }
    .build-your-dreams .educatito-flex-box .box-padding .box .box-text .box-text-title-h3 h3{
        font-size: 17px;
        padding-bottom: 5px;
    }
    .build-your-dreams .educatito-flex-box .box-padding .box .box-icon span{
        width: 60px;
        height: 60px;
        font-size: 25px;
    }
    .build-your-dreams .educatito-flex-box .box-padding .box .box-icon{
        padding-right: 20px;
    }
    .build-your-dreams .educatito-flex-box .box-padding .box{
        padding: 20px 0;
    }
    .slider-home-three .banner-caption-form .box .box-title h3{
        font-size: 16px !important;
        line-height: 20px !important;
    }
    .slider-home-three .banner-caption-form .box form .educatito-button h3{
        font-size: 11px !important;
    }
    .slider-home-three .banner-caption-form .box form input, .slider-home-three .banner-caption-form .box form textarea{
        font-size: 13px !important;
        line-height: 20px !important;
    }
    .slider-home-three .banner-caption-form{
        width: 200px;
    }
    .footer-v2 .footer .box .box-content .box-content-p p{
        padding: 0 15px 25px 15px
    }
    .the-educa .the-educatito-content{
        .educatito-flex-box{
            .box-content{
                h1{
                    font-size: 30px;
                    line-height: 30px;
                }
                h3, h5{
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }
    }
    .get-free-quote .get-quote-form form .uk-form-icon{
        width: 100%;
    }
    .get-free-quote .title-h3 h3{
        margin-bottom: 30px;
        font-size: 30px;
    }
    .build-the-dreams .educatito-flex-box .box-padding .box .box-icon{
        min-width: 65px;
        padding-right: 20px;
    }
    .heading-font-size{
        h2{
            font-size: 29px !important;
        }
    }
    .heading-responsive{
        .educatito-sub-title{
            p{
                font-size: 14px !important;
            }
        }
        h2{
            font-size: 33px !important;
            line-height: 36px !important; 
            margin-bottom: 45px !important;
        }
        .uvc-sub-heading{
            font-size: 14px !important;
            line-height: 22px !important;
            margin-bottom: 45px !important;
        }
    }
    .heading-responsive-v2{
        h2{
            font-size: 33px !important;
            line-height: 36px !important; 
        }
        .uvc-sub-heading{
            font-size: 14px !important;
            line-height: 26px !important;
            margin-bottom: 30px !important;
        }
    }
    .section-text-about{
        .wpb_column{
            &:last-child{
                .heading-responsive-v2{
                    .uvc-sub-heading{
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
    }
    .error404 .error-page .title-404, .page-template-404 .error-page .title-404{
        font-size: 60px;
        line-height: 60px;
    }
    .error404 .error-page p, .page-template-404 .error-page p{
        font-size: 14px;
        margin-bottom: 40px;
    }
    .events-detail .entry-title h1{
        font-size: 30px;
        line-height: 33px;
        margin-bottom: 25px;
    }
}

@media (max-width: 320px){
    .toggle-icon a{
        padding-right: 0 !important;
    }
    .header-v1 .header .main-menu, .header-v2 .header .main-menu{
        height: 50px;
    }
    .educatito-cart{
        height: 50px;
        line-height: 50px;
        margin-right: 12px;
        .ion-bag{
            font-size: 18px;
        }
        .number{
            right: -9px;
            width: 15px;
            height: 15px;
            line-height: 15px;
        }
    }
    .login-register a{
        line-height: 50px;
    }
    .educatito-mobile-cart a.cart{
        line-height: 50px !important;
    }
    .header-v1 .header .logo, .header-v2 .header .logo{
        height: 50px !important;
    }
    .educatito-mobile-cart a.cart .number{
        top: 3px;
    }
    .header-v3 .header .educatito-cart{
        line-height: 50px;
    }
    .header-v3 .header .educatito-cart .fa{
        border:5px solid $primary-color;
    }
    .header-v3 .header .educatito-cart .number{
        top:2px;
        right: -11px;
    }
}

@media (min-width: 992px){
    .menu-mobi, .mobile-logo{
        display: none !important;
    }
}
@media(max-width:991px){
    .logo-main{
        display: none !important;
    }
    .logo-mobile{
        display: block !important;
    }
    .section-responsive{
        &.vc_row{
            padding-top: 60px !important;
            padding-bottom: 60px !important;
        }
    }
    .section-responsive-v2{
        &.vc_row{
            padding-top: 60px !important;
            padding-bottom: 30px !important;
        }
    }
    .educatito_title_bar{
        margin-bottom: 60px !important;
    }
    .educatito-testimonial-widget{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .educatito-ralated-course ul .course-grid-3{
        width: 50%;
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .menu-mobi{
        ul{
            li{
                ul{
                    &.multicolumn{
                        &.columns2{
                            li{
                                &:last-child{
                                    display: none;
                                }
                            }
                        }
                    } 
                }
            }
        }
    }
}
@media (min-width: 1220px) and (max-width: 1400px){
    .build-the-dreams .educatito-flex-box .box-padding .box .box-text .box-text-title-h3 h3{
        padding-bottom: 10px;
    }
    .build-the-dreams .educatito-flex-box .box-padding .box{
        padding: 20px 15px 20px 45px;
    }
}

@media (min-width: 1220px) and (max-width: 1350px){
    .how-we-work .box-step:before, .how-we-work .box-step:after{
        display: none;
    }
    .how-we-work .box-step{
        padding: 58px 15px;
    }
}

@media (min-width: 992px) and (max-width: 1219px){
    .build-the-dreams .educatito-flex-box .box-padding .box .box-text .box-text-content-p p{
        font-size: 13px;
    }
    .build-the-dreams .educatito-flex-box .box-padding .box .box-text .box-text-title-h3 h3{
        font-size: 20px;
        padding-bottom: 5px;
    }
    .build-the-dreams .educatito-flex-box .box-padding .box{
        padding: 10px 15px;
    }
    .our-services .box .box-title-h3 a h3{
        font-size: 16px;
    }
    .header-v1 .top-bar{
        .set-width-3-10{
            width: 30%;
        }
        .set-width-7-10{
            width: 70%;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .faq .faq-content .holder-our-faq .title a{
        font-size: 17px;
    }
    .product-detail .box-detail .box-detail-content{
        width: 45%;
        padding-left: 25px;
    }
    .product-detail .box-detail .box-product-detail{
        width: 55%;
    }
    .educatito-sidebar .sidebar-latest-product > ul{
        padding: 30px 15px 5px 15px;
    }
    .educatito-sidebar .sidebar-latest-product h3{
        padding: 0 15px;
        font-size: 19px;
    }
    .educatito-sidebar .sidebar-filter{
        padding: 15px;
    }
    .educatito-sidebar .sidebar-search form input{
        padding-left: 15px !important;
    }
    .educatito-sidebar .sidebar-latest-product > ul > li .educatito-flex-box .box-img{
        margin-right: 0;
        margin-bottom: 5px;
    }
    .educatito-sidebar .sidebar-latest-product > ul > li .educatito-flex-box{
        display: block;
    }
    .blog-v1 .box .box-content{
        padding: 23px 15px 32px 15px;
    }
    .blog-v1.post-list .box .box-content{
        padding: 0px;
    }
    .portfolio-detail .portfolio-detail-content .box-detail-content{
        padding: 20px 15px
    }
    .educatito-sidebar .sidebar-recent-project ul{
        padding: 15px;
    }
    .educatito-sidebar .sidebar-recent-project h3{
        padding: 0 15px;
        font-size: 19px;
    }
    .educatito-sidebar .sidebar-about-educa{
        padding: 15px;
    }
    .about-the-educa .box .box-content.top-right{
        right: -27%;
    }
    .about-the-educa .box .box-content.top-left{
        left: -27%;
    }
    .about-the-educa .box .box-img img{
        width: 70%;
    }
    .about-the-educa .title p{
        padding: 0 50px;
    }
    .about-the-educa.set-padding{
        padding-bottom: 100px;
    }
    .build-your-dreams .educatito-flex-box .box-padding .box .box-text .box-text-content-p p{
        font-size: 13px;
    }
    .build-your-dreams .educatito-flex-box .box-padding .box .box-text .box-text-title-h3 h3{
        font-size: 17px;
        padding-bottom: 5px;
    }
    .build-your-dreams .educatito-flex-box .box-padding .box .box-icon span{
        width: 60px;
        height: 60px;
        font-size: 25px;
    }
    .build-your-dreams .educatito-flex-box .box-padding .box .box-icon{
        padding-right: 20px;
    }
    .build-your-dreams .educatito-flex-box .box-padding .box{
        padding: 10px 0;
    }
    .info .box .educatito-flex-box{
        margin: 0 25px;
    }
    .info{
        margin-top: -186px;
        padding-top: 30px;
    }
    .how-we-work .box-step .educatito-flex-box .box-number h3, .step .box-step .educatito-flex-box .box-number h3{
        padding-right: 0;
        padding-bottom: 15px;
    }
    .how-we-work .box-step .educatito-flex-box, .step .box-step .educatito-flex-box{
        display: block;
        text-align: center;
    }
    .meet-our-team .box .box-team-member h3{
        font-size: 16px;
    }
    .portfolio .box .educatito-flex-box .box-text-overlay h3{
        font-size: 15px;
    }
    .portfolio .box .educatito-flex-box .box-text-overlay{
        padding-left: 15px;
    }
    .our-services .box{
        padding: 25px 15px;
        .box-title-h3 a h3{
            font-size: 13px;
        }
    }
    .course-detail{
        max-width: 750px;
    }
}
@media(max-width:800px){
    .course-detail .course-summary .content .course-review .course-rating .average-rating{
        float: none;
        width: 100%;
        text-align: center;
        padding-top: 0;
        margin-bottom: 10px;
    }
    .course-detail .course-summary .content .course-review .course-rating .detailed-rating-box{
        float: none;
        width: 100%;
        text-align: center;
    }
}
@media(min-width:768px){
    .educatito-info-box{
        margin-bottom: 0;
    }
    .section-info-box{
        .wpb_column{
            &:before{
                position: absolute;
                content: '';
                right: 0;
                top: 51px;
                width: 1px;
                height: 180px;
                content: "";
                z-index: 1;
                background-color: #ebebeb;
                &:last-child{
                    display: none;
                }
            }
        }
    }
}
@media(max-width:768px){
    .course-list .educatito-content .educatito-course-wrap .lp_course .course-item{
        margin-bottom: 30px;
        padding-bottom: 25px;
        .course-thumbnail{
            margin-right: 0;
            float: none;
            margin-bottom: 30px;
        }
    }
}
@media(max-width:600px){
    .events-detail .tp-event-top .entry-countdown{
        left: 0;
        top:0;
        position: relative;
        background: $primary-color;
        display: flex;
        justify-content: center;
    }
    .educatito-list-filter .educatito-filter-category{
        margin-bottom: 0;
    }
    .events-detail{
        .tp-event-top{
            .entry-countdown{
                .tp_event_counter{
                    background-color: transparent;
                    border:none;
                    padding:0;
                    .countdown-row{
                        .countdown-section{
                            width: 80px;
                            height: 80px;
                            margin: 0 10px;
                            font-weight: 700;
                            color: #fff;
                            border-radius: 0;
                            background: transparent;
                            font-size: 12px;
                            border: none;
                            margin: 0 5px;
                            line-height: 25px;
                        }
                    }
                }
            }
        }
    }
    .course-grid .educatito-content .educatito-course-wrap .box{
        width: 100%;
    }
    .course-detail .course-meta > li{
        &:after{
            display: none;
        }
    }
    .course-detail .course-summary .content .course-review .course-rating .detailed-rating-box .rating-box .detailed-rating .stars > div.bar{
        width: 260px;
    }
    .course-reviews-list li .review-text{
        width: -webkit-calc(100% - 100px);
    }
    .educatito-ralated-course ul .course-grid-3{
        width: 100%;
    }
    .educatito-events .box .uk-subnav li a{
        padding: 0 20px;
    }
    .educatito-events .box .uk-switcher li article .entry-border .content-post .meta-day{
        width: auto;
        margin-right: 0;
        padding-top: 0;
        float: none;
    }
    .educatito-events .box .uk-switcher li article .entry-border .content-post .flat-content{
        text-align: center;
    }
}
@media (min-width: 480px) and (max-width: 768px){
    .our-services-v4 ul li .box .box-content .box-content-title h3{
        font-size: 23px;
    }
    .slider-home-three .banner-caption-form{
        width: 300px;
    }
    .our-services .box .box-title-h3 a h3{
        font-size: 16px;
    }
}
@media(max-width:480px){
    #learn-press-user-profile #learn-press-profile-nav:before{
        left: 40px;
        right: 0;
    }
    #learn-press-user-profile #learn-press-profile-nav{
        float:left;
    } 
    .product-box .product-item-wrap .product-item .box-img .product-options .box-icon{
        left: 37%;
    }
}
@media(max-width:450px){
    .course-detail .course-summary .content .course-review .course-rating .detailed-rating-box .rating-box .detailed-rating .stars > div.bar{
        width: 170px;
    }
}
@media(max-width:400px){
    .woocommerce-account .woocommerce #customer_login form p input.button,#login-form p input.button{
        padding: 10px 60px;
    }
    #login-form p .woocommerce-LostPassword{
        margin-left: 5%;
    }
}
@media(max-width:370px){
    .course-detail .course-summary .content .course-review .course-rating .detailed-rating-box .rating-box .detailed-rating .stars > div.bar{
        width: 128px;
    }
    .educatito-events .box .uk-subnav li a{
        padding: 0 10px;
    }
}
