.educatito-testimonial{
    &.template1{
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                padding: 0 15px;
                outline: none;
                height: auto;
                .box{
                    padding-top: 40px;
                    position: relative;
                    .box-img{
                        border-radius: 50%;
                        overflow: hidden;
                        position: absolute;
                        left: 50px;
                        top: 0;
                        z-index: 999;
                        img{
                            display: block;
                            border-radius: 50%;
                        }
                    }
                    .box-content{
                        position: relative;
                        background-color: #fff;
                        padding: 77px 40px 32px 49px;
                        -webkit-border-radius: 3px;
                        border-radius: 3px;
                        .box-content-p{
                            color: #1a1a23;
                            p{
                                margin-bottom: 0;
                                font-family: "Roboto Slab", sans-serif;
                                font-size: 16px;
                                line-height: 28px;
                                color: #1a1a23;
                            }
                        }
                        .box-content-h3{
                            h3{
                                display: inline-block;
                                font-family: "Roboto Slab", sans-serif;
                                color: #1a1a23;
                                font-size: 18px;
                                line-height: 20px;
                                @include font-bold();
                                margin-bottom: 3px;
                                transition: all .5s ease;
                                &:hover{
                                    color: $link-color-hover;
                                }
                            }
                        }
                        .box-content-span{
                            line-height: 15px;
                            margin-bottom: 11px;
                        }
                    }
                }
            }
        }
        .slick-dots{
            margin-top: 30px;
            display: flex;
            justify-content: center;
            li{
                padding: 0 5px !important;
                &.slick-active{
                    button{
                        background: $primary-color;
                        border-color: $primary-color;
                    }
                }
                button{
                    width: 13px;
                    height: 13px;
                    padding: 0;
                    font-size: 0;
                    background: transparent;
                    border-radius: 50px;
                    border: 2px solid #c2c2c2;
                }
            }
        }
    }
    &.template2{
        padding: 0 99px;
        .group-testimonial{
            position: relative;
            #testimonial-slider{
                margin: 0;
                list-style: none;
                ul{
                    list-style: none;
                    margin:0;
                }
                .box-content{
                    text-align: center;
                    p{
                        font-size: 24px;
                        line-height: 48px;
                        font-family: "Roboto Slab";
                        margin-bottom: 153px;
                        color: #fff;
                    }
                }
                .box-author{
                    text-align: center;
                    h3{
                        font-size: 18px;
                        line-height: 20px;
                        font-family: "Roboto Slab", sans-serif;
                        font-weight: 700;
                        color: #fff;
                        margin-bottom: 3px;
                    }
                    .box-position{
                        color: #c2c2c2;
                    }
                }
            }
            #testimonial-carousel{
                .slick-prev,.slick-next{
                    display: none !important;
                }
                position: absolute;
                top: 190px;
                width: 100%;
                padding: 0px 55px;
                text-align: center;
                margin: 0;
                list-style: none;
                .slick-list{
                    padding: 20px 0px 22px;
                    &:before{
                        position: absolute;
                        height: 2px;
                        content: "";
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        background-color: #FFF;
                    }
                }
                li{
                    text-align: center;
                    cursor: pointer;
                    position:relative;
                    &:before{
                        left: 50%;
                        bottom: -22px;
                        width: 0%;
                        z-index: 99;
                        background-color: $primary-color;
                        position: absolute;
                        height: 2px;
                        content: "";
                        visibility: hidden;
                        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                        filter: alpha(opacity=0);
                        opacity: 0;
                        -webkit-transition: all 0.3s ease-in-out;
                        -moz-transition: all 0.3s ease-in-out;
                        -ms-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                    }
                    &.slick-current,&:hover{
                        &:before{
                            left: 11%;
                            width: 78%;
                            opacity: 1;
                            visibility: visible;
                            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
                            filter: alpha(opacity=100);
                            -webkit-transition: all 0.3s ease-in-out;
                            -moz-transition: all 0.3s ease-in-out;
                            -ms-transition: all 0.3s ease-in-out;
                            -o-transition: all 0.3s ease-in-out;
                            transition: all 0.3s ease-in-out;
                        }
                        img{
                            -webkit-transform: scale(1.4);
                            -moz-transform: scale(1.4);
                            -o-transform: scale(1.4);
                            transform: scale(1.4);
                            -webkit-transition: all 0.3s ease-in-out;
                            -moz-transition: all 0.3s ease-in-out;
                            -ms-transition: all 0.3s ease-in-out;
                            -o-transition: all 0.3s ease-in-out;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                    img{
                        width: 40px;
                        height: 40px;
                        margin-top: -20px;
                        border-radius: 100%;
                        -webkit-transition: all 0.3s ease-in-out;
                        -moz-transition: all 0.3s ease-in-out;
                        -ms-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        transition: all 0.3s ease-in-out;
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    &.template3{
        .slick-testimonial-v2{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                opacity: 0;
                outline: none;
                height: auto;
                &.slick-active{
                    opacity: 1;
                }
                .box{
                    .box-content{
                        text-align: center;
                        color: $second-text;
                        p{
                            padding: 0 100px;
                            font-family: 'Roboto', sans-serif;
                            font-size: 24px;
                            line-height: 30px;
                            color: inherit;
                            @include font-regular();
                            margin-bottom: 0;
                        }
                    }
                    .box-img{
                        margin-top: 40px;
                        text-align: center;
                        a{
                            width: 80px;
                            height: 80px;
                            border-radius: 50%;
                            overflow: hidden;
                            display: inline-block;
                            &:hover{
                                img{
                                    @include scale(1.1);
                                    transition: all .5s ease;
                                }
                            }
                            img{
                                width: 80px;
                                height: 80px;
                                border-radius: 50%;
                                display: block;
                                margin: 0 auto;
                                transition: all .5s ease;
                            }
                        }
                    }
                }
            }
        }
        ul.slick-dots{
            margin: 0;
            margin-top: 42px;
            text-align: center;
            li{
                padding: 0 6px;
                opacity: 1;
                display: inline-block;
                &:hover, &.slick-active{
                    button{
                        background: $primary-color;
                    }
                }
                button{
                    width: 10px;
                    height: 10px;
                    background: #d1d4d3;
                    border-radius: 50%;
                    text-indent: -9999px;
                    outline: none;
                    box-shadow: none;
                    border: none;
                    cursor: pointer;
                    padding: 0;
                    line-height: initial;
                }
            }
        }
    }
    &.template4{
        .box{
            padding: 30px;
            background: #F9F9F9;
            text-align: center;
            .icon{
                font-size: 30px;
                margin: 20px 0;
            }
            .box-content{
                margin-top: 10px;
                color: #1b2725;
                p {
                    padding-bottom: 20px;
                    font-size: 16px;
                    color: inherit;
                    font-weight: 400;
                    margin-bottom: 0;
                }
            }
            .box-img{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                margin: 0 auto;
                border: 2px solid $primary-color;
                overflow: hidden;
                padding: 2px;
                img{
                    border-radius: 50%;
                }
            }
            .title{
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                color: #1b2725;
                @include font-bold();
                margin-top: 15px;
                margin-bottom: 0;
                transition: all .5s ease;
                &:hover{
                    color: $link-color-hover;
                }
            }
            .box-position{
                font-family: 'Roboto', sans-serif;
                font-size: 12px;
                @include font-medium();
            }
        }
    }
    &.template5{
        .testimonial-slick-v4{
            ul{
                margin:0px -15px;
                li{
                    margin-left: 15px;
                    margin-right: 15px;
                    .box{
                        background: #F5F5F5;
                        padding: 30px 25px;
                        padding-left:8px ;
                        .box-content{
                            position: relative;
                            padding-left: 50px ;
                            margin-bottom: 30px;
                            color: #828282;
                            &:before{
                                content: '\f10d';
                                font-size: 24px;
                                margin-left: 0px;
                                margin-top: 5px;
                                position: absolute;
                                font-family: FontAwesome;
                                left: 15px;
                                color: #828282;
                            }
                            p{
                                color: inherit;
                                font-size: 15px;
                            }
                        }
                        .box-title{
                            display: inline-block;
                            margin-left: 50px ;
                            .box-title-img{
                                width: 40px;
                                height: 40px;
                                overflow: hidden;
                                border-radius: 20px;
                                margin-right: 15px;
                                display: inline-block;
                                img{
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                            h4.box-title-h4{
                                font-size: 15px;
                                margin-bottom: 0;
                                display: inline-block;
                                vertical-align: top;
                                margin-top: 12px;
                                color: #2A2F35;
                                font-weight: 600;
                                span{
                                    color: #828282;
                                    font-weight: 300;
                                }
                            }
                        }
                    }
                }
            }
        }
        ul.slick-dots{
            margin: 0;
            margin-top: 30px;
            text-align: center;
            li{
                margin-right: 0px;
                margin-left: 0px;
                opacity: 1;
                padding: 0px 8px;
                display: inline-block;
                &:hover,&.slick-active{
                    button{
                        background: $primary-color;
                        position: relative;
                        &:before{
                            content: '';
                            position: absolute;
                            border-radius: 50%;
                            left: 3px;
                            top:3px;
                            right:3px;
                            bottom: 3px;
                            background: #fff;
                        }
                    }
                }
                &:last-child{
                    display: none;
                }
                button{
                    width: 11px;
                    height: 11px;
                    background: #d1d4d3;
                    border-radius: 50%;
                    text-indent: -9999px;
                    outline: none;
                    box-shadow: none;
                    border: none;
                    cursor: pointer;
                    padding: 0;
                    line-height: initial;
                }
            }
        }
    }
    &.template6{
        .slick-testimonial-v2{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                opacity: 0;
                outline: none;
                height: auto;
                &.slick-active{
                    opacity: 1;
                }
                .box{
                    text-align: center;
                    .box-content{
                        margin-bottom: 30px;
                        color: $second-text;
                        p{
                            padding: 0 150px;
                            font-size: 16px;
                            line-height: 26px;
                            color: inherit;
                            @include font-regular();
                            margin-bottom: 0;
                        }
                    }
                    .title{
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 20px;
                        margin-bottom: 5px;
                    }
                    .box-position{
                        color: $second-text;
                        font-size: 12px;
                        @include font-medium();
                    }
                }
            }
        }
        ul.slick-dots{
            margin: 0;
            margin-top: 20px;
            text-align: center;
            li{
                padding: 0 6px;
                opacity: 1;
                display: inline-block;
                &:hover, &.slick-active{
                    button{
                        background: #4223AF;
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }
                }
                button{
                    width: 15px;
                    height: 15px;
                    border-radius: 15px 0 15px 15px;
                    background-color: $primary-color;
                    display: block;
                    text-indent: -9999px;
                    line-height: initial;
                    overflow: hidden;
                    padding: 0;
                    outline: none;
                    box-shadow: none;
                    border: none;
                    cursor: pointer;
                    -webkit-transition: all 300ms cubic-bezier(0.685,0.010,0.355,0.995);
                    -moz-transition: all 300ms cubic-bezier(0.685,0.010,0.355,0.995);
                    -o-transition: all 300ms cubic-bezier(0.685,0.010,0.355,0.995);
                    transition: all 300ms cubic-bezier(0.685,0.010,0.355,0.995);
                    -webkit-transition-timing-function: cubic-bezier(0.685,0.010,0.355,0.995);
                    -moz-transition-timing-function: cubic-bezier(0.685,0.010,0.355,0.995);
                    -o-transition-timing-function: cubic-bezier(0.685,0.010,0.355,0.995);
                    transition-timing-function: cubic-bezier(0.685,0.010,0.355,0.995);
                    backface-visibility: hidden;
                }
            }
        }
    }
    &.template7{
        .box{
            margin-bottom:30px;
            .box-img{
                img{
                    display: block;
                    width: 100%
                }
            }
            .border-img{
                position: relative;
                &:before{
                    content: '';
                    top:0;
                    bottom:0;
                    left: 0;
                    right: 0;
                    position: absolute;
                    border:1px solid #e5e5e5;
                    border-left: none;
                }
            }
            .text-right{
                .box-flex{
                    height: 100%;
                    border-right: none;
                    border-left:1px solid #e5e5e5;
                }
                .box-content{
                    text-align: right;
                }
            }
            .box-flex{
                display: flex;
                justify-content: center;
                align-items: center;
                border:1px solid #e5e5e5;
                border-left: none;
            }
            .box-content{
                padding:0 15px;
                .box-content-text{
                    p{
                        font-weight: 300;
                        font-size: 15px;
                        z-index: 999;
                        position: relative;
                        overflow: hidden;
                        max-height: 100px;
                        color: #000;
                        margin: 0;
                    }
                }
                .box-title{
                    margin-top: 15px;
                    .box-position{
                        font-size: 13px;
                        color: #333;
                        font-weight: 300;
                    }
                    .author{
                        font-size: 20px;
                        margin: 0;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px){
    .educatito-testimonial.template1 ul li .box .box-content{
        padding-right: 15px;
        padding-left: 35px;
    }
    .educatito-testimonial.template2{
        padding: 75px 0 65px 0;
    }
    .educatito-testimonial.template2 ul li .box .box-content p{
        padding: 0 50px 19px 50px;
    }
    .educatito-testimonial.template3 .slick-testimonial-v2 li .box .box-content p{
        padding: 0 50px;
    }
    .educatito-testimonial.template6 .slick-testimonial-v2 li .box .box-content p{
        padding: 0 50px;
    }
}
@media(max-width:900px){
    .educatito-testimonial.template7 .box{
        width: 100%;
    }
    .educatito-testimonial.template7 .box{
        .uk-push-1-2,.uk-pull-1-2{
            left: 0;
        } 
    }
    .educatito-testimonial.template7 .box .border-img{
        &:before{
            border: none;
        }
    }
    .educatito-testimonial.template7 .box .text-right{
        border: 1px solid #e5e5e5; 
        border-left: none;
        .box-flex{
            border: none;
        }
        .box-content{
            text-align: left;
        }
    }
}
@media (max-width: 768px){
    .educatito-testimonial.template1 ul li,.educatito-testimonial-widget ul li{
        padding: 0 1px !important;
    }
    .educatito-testimonial.template2 {
        padding: 55px 0px 45px 0;
    }
    .educatito-testimonial.template2 ul li .box .box-content p{
        padding-right: 15px;
        padding-left: 15px;
    }
    .educatito-testimonial.template3 .slick-testimonial-v2 .slick-list{
        padding: 0 !important;
    }
    .educatito-testimonial.template3 .slick-testimonial-v2 li .box .box-content p{
        padding: 0px;
    }
    .educatito-testimonial.template5  ul.slick-dots li:last-child{
        display: inline-block;
    }
    .educatito-testimonial.template6 .slick-testimonial-v2 li .box .box-content p{
        padding: 0 15px;
    }
}
@media (max-width: 480px){
    .educatito-testimonial.template1 ul li .box,.educatito-testimonial-widget ul li .box{
        padding-top: 0 !important;
    }
    .educatito-testimonial.template1 ul li .box .box-img,.educatito-testimonial-widget ul li .box .box-img{
        position: initial !important;
        text-align: center;
        margin-bottom: 15px;
    }
    .educatito-testimonial.template1 ul li .box .box-img img, .educatito-testimonial-widget ul li .box .box-img img{
        text-align: center;
        margin: 0 auto;
    }
    .educatito-testimonial.template1 ul li .box .box-content, .educatito-testimonial-widget ul li .box .box-content{
        padding: 15px !important;
    }
    .educatito-testimonial.template1 .slick-dots, .educatito-testimonial-widget .slick-dots{
        margin-top: 20px !important;
    }
    .educatito-testimonial.template2 ul li .box .box-content p{
        font-size: 16px;
        line-height: 26px;
    }
    .educatito-testimonial.template7 .box .box-img{
        border: none;
    }
    .educatito-testimonial.template7 .box .box-flex,.educatito-testimonial.template7 .box .text-right{
        border: none;
        margin-top:20px;
        .box-flex{
            margin-top: 0;
        }
    }
}
.educatito-testimonial-widget{
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../images/bacground-testi.jpg);
    background-attachment: fixed;
    background-position: center center;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 100px;
    h4{
        font-size: 48px;
        line-height: 60px;
        font-family: 'Roboto Slab';
        color: #ffffff;
        margin-bottom: 60px;
        text-align: center;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            padding: 0 15px;
            outline: none;
            height: auto;
            .box{
                padding-top: 40px;
                position: relative;
                .box-img{
                    border-radius: 50%;
                    overflow: hidden;
                    position: absolute;
                    left: 50px;
                    top: 0;
                    z-index: 999;
                    img{
                        display: block;
                        border-radius: 50%;
                    }
                }
                .box-content{
                    position: relative;
                    background-color: #fff;
                    padding: 77px 40px 32px 49px;
                    -webkit-border-radius: 3px;
                    border-radius: 3px;
                    .box-content-p{
                        color: #1a1a23;
                        p{
                            margin-bottom: 0;
                            font-family: "Roboto Slab", sans-serif;
                            font-size: 16px;
                            line-height: 28px;
                            color: #1a1a23;
                        }
                    }
                    .box-content-h3{
                        h3{
                            display: inline-block;
                            font-family: "Roboto Slab", sans-serif;
                            color: #1a1a23;
                            font-size: 18px;
                            line-height: 20px;
                            @include font-bold();
                            margin-bottom: 3px;
                            transition: all .5s ease;
                            &:hover{
                                color: $link-color-hover;
                            }
                        }
                    }
                    .box-content-span{
                        line-height: 15px;
                        margin-bottom: 11px;
                    }
                }
            }
        }
    }
    .slick-dots{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        li{
            padding: 0 5px !important;
            &.slick-active{
                button{
                    background: $primary-color;
                    border-color: $primary-color;
                }
            }
            button{
                width: 13px;
                height: 13px;
                padding: 0;
                font-size: 0;
                background: transparent;
                border-radius: 50px;
                border: 2px solid #c2c2c2;
            }
        }
    }
}